body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 210, 30);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}